@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather:wght@700&family=Roboto:wght@500&display=swap');
body{
    background-image: url("2655680.jpg");
    background-size: 100vw 100vh;
}

#logo,
img {
    width: 100px;
}

.heading {
color: white;
font-size: 50px ;
text-align: center;
font-family: 'Merriweather', serif;
text-shadow: rgb(12, 230, 44) 1px -2px 20px ;
}





input:focus, button:focus{
    outline: none
}

#mail {
    font-size: 40px ;
    position: fixed ;
    left: 440px ; 
    top: 340px;
    color: aliceblue;
}

#youtube {
    font-size: 40px ;
    position:fixed;
    left: 540px;
    top: 340px
}

#whatsaap {
    font-size: 40px ;
    position:fixed;
    left: 640px;
    top: 340px
}

#instagram {
    font-size: 40px ;
    position:fixed;
    left: 740px;
    top: 340px
}

#facebook {
    font-size: 40px ;
    position:fixed;
    left: 840px;
    top: 340px;
    
}

#spotify {
    font-size: 40px ;
    position:fixed;
    left: 940px;
    top: 340px;
    
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-container {
    margin-top: 20px;
}

#search-form {
    display: inline-block;
}

#search-input {
    padding: 10px;
    width: 560px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; 
}

button {
    padding: 10px 20px;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3579e3;
}

.input-container {
    margin-top: 70px;
    margin-left: 410px;
}